<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<!-- 定义输出目标 --> 
	<!--use UTC time-->
	<targets>
		<target xsi:type="File" name="file" fileName="/logs/MyWebApplication-${shortdate}.log" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.ffff} ${level} ${callsite} ${message} ${exception:format=ToString}" />
	</targets>

	<!--<targets>
		<target xsi:type="File" name="file" fileName="/logs/MyWebApplication-${shortdate}.log" layout="${longdate} ${level} ${callsite} ${message} ${exception:format=ToString}" />
	</targets>-->

	<!-- 定义日志规则 -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>
